ol li {
    background-color: yellow;
}
ol li:nth-child(even){
    color: green;
}
ol li:nth-child(odd){
    text-transform: uppercase;
}
h1{
    color: red;
    font-size: 40px;
    border: 1px black solid;
}
li {
    font-size: 20px;
}
li em {
    font-weight: 900;
}
#lista1 li:not(:nth-child(n+4)){
    color: blue;
}
.cor {
    background-color: pink;
}
#lista2 li a:hover {
    font-weight: 900;
}
#lista2 li a[href*="https://pt.stackoverflow.com"] {
    color: orange;
}
#lista2 li a[href*="https://www.w3schools.com"] {
    color: green;
}
#lista2 li a[href*="https://developer.mozilla.org"]{
    color: black;
}
#lista2 li a[href*="https://devdocs.io"]{
    color: yellow;
}
#lista2 li a[href*="https://app.betrybe.com"]{
    color: lightgreen;
}