.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    margin-top: 40px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    margin-top: 350px;
  }
  
  .baloon {
  position: absolute;
  z-index: 3;
  left: 227px;
  margin-top: 5px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    margin-top: 70px;
    left: 250px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 4;
    left: 550px;
    margin-top: 160px;
  }