h1 {
    text-align: center;
  }

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    list-style: none;
    display: block;
    margin-left: 250px;
    
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    list-style: none;
    display: inline-block;
  }

  h3 {
    margin-left: 270px;
  }

  li {
    display: inline-block;
  }

  .premio {
    margin-left: 50px;
  }